mixin dropdown(data)
    .dropdown
        .dropdown__field
            span.dropdown__field-name= data.name
            img(src="./images/arrowDrop.svg", alt="ddd", srcset="").dropdown__arrow
        ul.dropdown__dropbox
            li.dropdown__dropbox-title Южная Америка
                ul.dropdown__dropbox-content
                    li.dropdown__dropbox-content-item Аргентина
                    li.dropdown__dropbox-content-item Бразилия
                    li.dropdown__dropbox-content-item Перу
                    li.dropdown__dropbox-content-item Уругвай
                    li.dropdown__dropbox-content-item Чили
                    li.dropdown__dropbox-content-item Эквадор
            li.dropdown__dropbox-title Северная Америка
                ul.dropdown__dropbox-content
                    li.dropdown__dropbox-content-item Аргентина
                    li.dropdown__dropbox-content-item Бразилия
                    li.dropdown__dropbox-content-item Перу
                    li.dropdown__dropbox-content-item Уругвай
                    li.dropdown__dropbox-content-item Чили
                    li.dropdown__dropbox-content-item Эквадор
            li.dropdown__dropbox-title Арктика и Антарктика
                ul.dropdown__dropbox-content
                    li.dropdown__dropbox-content-item Аргентина
                    li.dropdown__dropbox-content-item Бразилия
                    li.dropdown__dropbox-content-item Перу
                    li.dropdown__dropbox-content-item Уругвай
                    li.dropdown__dropbox-content-item Чили
                    li.dropdown__dropbox-content-item Эквадор
            li.dropdown__dropbox-title Африка
            li.dropdown__dropbox-title Австралия и Океания
            li.dropdown__dropbox-title Европа
            li.dropdown__dropbox-title Россия
            li.dropdown__dropbox-title Азия