.travel-card {
    display: flex;
    width: 340px;
    box-sizing: border-box;
    flex-direction: column;
    padding-bottom: 26px;
    font-family: $museo_2;
    font-style: normal;
    font-size: 9px;
    line-height: 11px;
    color: #000000;
    @media (min-width: 820px) {
        width: 380px;
    }
}
.travel-card:last-child {
    display: none;
}
.travel-card:nth-child(3) {
    padding-bottom: 0;
}
.travel-card__image {
    height: 195px;
    width: 100%;
    display: flex;
    background-size: cover;
    @media (min-width: 800px) {
        height: 218px;
    }
}
.travel-card__price {
    margin-top: auto;
    background-color: $yellow;
    font-family: $museo_3;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
}
.travel-card__country {
    display: inline-block;
    color: #C5B223;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 7px;
}
.travel-card__title {
    font-size: 18px;
    line-height: 22px;
    font-family: $museo_2;
    display: inline-block;
    margin-bottom: 20px;
}
.travel-card__route {
    color: #8C8C8C;
    line-height: 13px;
    max-width: 340px;
    margin: 0;
    margin-bottom: 15px;
}
.travel-card__discrip {
    display: flex;
    justify-content: space-between;
    width: 140px;
}
.travel-card__lang {
    font-style: normal;
}

.travel-card__special {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    background: #CB0037;
    border-radius: 3px;
    width: 130px;
    height: 17px;
    color: #FFFFFF;
}
