@font-face {
    font-family: 'Museo-Bold';
    src: url('../fonts/MuseoSansCyrlBold/MuseoSansCyrl_2.eot');
    src: local('☺'), url('../fonts/MuseoSansCyrlBold/MuseoSansCyrl_2.woff') format('woff'), url('../fonts/MuseoSansCyrlBold/MuseoSansCyrl_2.ttf') format('truetype'), url('../fonts/MuseoSansCyrlBold/MuseoSansCyrl_2.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Museo-Black';
    src: url('../fonts/MuseoSansCyrl_Black/MuseoSansCyrl_3.eot');
    src: local('☺'), url('../fonts/MuseoSansCyrl_Black/MuseoSansCyrl_3.woff') format('woff'), url('../fonts/MuseoSansCyrl_Black/MuseoSansCyrl_3.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_Black/MuseoSansCyrl_3.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl.eot');
    src: local('☺'), url('../fonts/MuseoSansCyrl/MuseoSansCyrl.woff') format('woff'), url('../fonts/MuseoSansCyrl/MuseoSansCyrl.ttf') format('truetype'), url('../fonts/MuseoSansCyrl/MuseoSansCyrl.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }