h1, h2, h3, body {
    margin: 0;
    padding: 0;
}

@import './fonts.scss';
@import './var.scss';
@import './import.scss';

.page__main {
    padding-left: 18px;
    padding-right: 17px;
}

.test {
    font-family: $museo;
}

.test_0 {
    font-family: $museo_0;
}
.test_1 {
    font-family: $museo_1;
}
.test_2 {
    font-family: $museo_2;
}
.test_3 {
    font-family: $museo_3;
}

