h1, h2, h3, body {
    margin: 0;
    padding: 0;
}

@import './fonts.scss';
@import './var.scss';
@import './import.scss';

.page__main {
    padding-left: 18px;
    padding-right: 17px;
}
