mixin submit-btn(data)
    .submit-btn__wrap
        button(type="submit").submit-btn
            span.submit-btn__name= data.value
            .submit-btn__arrow
                svg(width="5" height="8")
                    polyline(points="1,1 4,4 1,7" fill="none" stroke="#000000" stroke-width="1px" )
                    