
.travel-cards {
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4;
    padding-top: 30px;
    padding-bottom: 33px;
    margin-bottom: 31px;
    @media (min-width: 740px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: none;
        padding-top: 46px;
        padding-bottom: 67px;
        margin-bottom: 0;
        .travel-card:last-child {
            display: flex;
            padding-bottom: 0;
        }
        .travel-card:first-child {
            margin-bottom: 30px;
        }
    }
}
