mixin date-dropdown(data)
    .date-dropdown
        input.date-dropdown__field(type="text", name="date-field", user-scalable="no", placeholder="Дата" readonly)
        img(src="./images/arrowDrop.svg", alt="ddd", srcset="").date-dropdown__arrow
        p.date-dropdown__text Выберите дату не позднее которой хотите вернуться