.request-tour {
    margin-bottom: 108px;
    align-items: center;
}
.request-tour__title {
    margin-bottom: 27px;
}
.request-tour__section-name {
    display: inline-block;
    font-family: $museo_1;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
    margin-bottom: 31px;
}
.request-tour__section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 31px;
    @media (min-width: 715px) {
        margin-bottom: 35px;
        &+.request-tour__section {
            margin-bottom: 40px;
        }
    }
}
.request-tour__field {
    margin-bottom: 20px;
    min-width: 340px;
    max-width: 380px;
    flex-grow: 1;
    &:last-child {
        margin-bottom: 0;
    }
    @media (min-width: 715px) {
        margin-bottom: 0;
    }
}
.request-tour__section-cb {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    @media (min-width: 715px) {
        margin-bottom: 0;
    }
    &+.request-tour__section-cb {
        margin-bottom: 0;
    }
}
.request-tour__checkboxes {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 30px;
    max-width: 340px;
}
.request-tour__rich-cbox {
    margin-bottom: 28px;
    @media (min-width: 715px) {
        margin-bottom: 40px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.request-tour__text-required-fields {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    margin-top: 39px;
    @media (min-width: 715px) {
        margin-top: 33px;
    }
}
.request-tour__submit-btn {
    margin-top: 28px;
    margin-left: 30px;
    @media (min-width: 715px) {
        margin-top: 40px;
    }
}