include ./var

include ../components/menu-btn/menu-btn.pug
include ../components/header/header.pug
include ../components/title/title.pug
include ../components/travel-cards/travel-card/travel-card.pug
include ../components/travel-cards/travel-cards
include ../components/input/input
include ../components/rich-cbox/rich-cbox
include ../components/checkbox/checkbox
include ../components/submit-btn/submit-btn
include ../components/request-tour/request-tour
include ../components/dropdown/dropdown
include ../components/date-dropdown/date-dropdown
include ../components/nav-menu/nav-menu
include ../components/menu/menu




