block variables
//- VARIABLES
-
   const card1 = {
                    img: './images/toskanaMin.jpg',
                    price: 'от 118 112 Р',
                    country: 'италия',
                    title: 'Под небом Тосканы',
                    route:  'Сансеполькро — (Перуджа) — Ассизи — Губбио — (Сиена) — Ла Верна — Ангиари — Монтерки — Ареццо — Кортона — (Пиенца) - (Монтепульчано)',
                    days: '8 дней / 7 ночей',
                    lang: 'Русский язык',
                    dates: '27.04.19 - 04.05.19и еще 15 дат',
                    air: true,
                }
-
   const card2 = {
                    img: './images/islandMin.jpg',
                    price: '140 715 Р',
                    country: 'ИСЛАНДИЯ',
                    title: 'Майские каникулы в Исландии',
                    route:  'Рейкьявик — Тингвеллир — Гюдльфосс — Скафтафедль — Сельяландсфосс — Скоугафосс — Йёкюльсаурлоун — Голубая Лагуна — Снайфельсйёкутль — Arnarstapi — Рейкьявик',
                    days: '8 дней / 7 ночей',
                    lang: 'Русский язык',
                    dates: '27.04.19 - 04.05.19',
                    air: false,
                }
-
   const card3 = {
                    img: './images/turkeyMin.jpg',
                    price: '37 302 Р',
                    country: 'ТУРЦИЯ',
                    title: 'Открытие Турции',
                    route:  'Стамбул — Анкара — Каппадокия — Конья — Памуккале — Эфес — Кушадасы — Пергам — Ассос — Троя — Стамбул',
                    days: '8 дней / 7 ночей',
                    lang: 'Русский язык',
                    dates: '28.04.19 - 05.05.19и еще 3 даты',
                    air: true,
                }
-   const inputName = { label: 'Имя', name: 'firstname', id: 'firstname-field', required: '*' }
-   const inputModile = { label: 'ТЕЛЕФОН', name: 'mobile-number', id: 'mobule-number-field', placeholder: "+7___ ___ __ __", required: '' }
-   const inputCountry = { label: 'КУДА И КОГДА ХОТИТЕ ПОЕХАТЬ?', name: 'country', id: 'country-field', placeholder: "Континет, страна или город", required: '*', req: 'required' }
-   const inputDate = { label: 'КОГДА?', name: 'date', id: 'date-field', placeholder: 'Даты или временной  интервал' }

-   const cbData = { title: 'viber', name: 'answer', value: 'viber' }
-   const cbViber = { title: 'viber',  name: 'answer', value: 'viber' }
-   const cbWsapp = { title: 'WHATSAPP', name: 'answer', value: 'WHATSAPP' }
-   const cbMail = { title: 'ПОЧТА', name: 'answer', value: 'mail' }
-   const cbPhone = { title: 'ТЕЛЕФОН', name: 'answer', value: 'phone' }

-   const cbWeb = { title: 'ИНТЕРНЕТ', name: 'how-to-know', value: 'internet' }
-   const cbFriends = { title: 'РЕКОМЕНДОВАЛИ ДРУЗЬЯ', name: 'how-to-know', value: 'friends' }
-   const cbSocial = { title: 'СОЦ. СЕТИ', name: 'how-to-know', value: 'social' }
-   const cbUsed = { title: 'УЖЕ ЕЗДИЛ', name: 'how-to-know', value: 'before-used' }

-
    const cbSubscribe = {
                        title: 'Получать свежие предложения по электронной почте',
                        classes: 'checkbox__custom--mini',
                        discription: 'Каждую неделю мы делаем для вас обзор лучших экспедиций, статей и лайфхаков для путешественников. Если вдруг вам не понравится, вы сможете отписаться в любой момент.',
                        name: 'subscribe',
                        id: 'subscribe-field',
                        required: '' }
-
    const cbAccept = {
                        title: 'С обработкой своих персональных данных согласен.',
                        classes: 'checkbox__custom--mini checkbox__custom--required',
                        discription: 'Отправляя заявку я подтверждаю согласие с условиями Пользовательского соглашения',
                        name: 'accept',
                        id: 'accept-field',
                        required: '*' }

- const submitBtn = { value: 'ОТПРАВИТЬ'}


