mixin complex-dropdown
    .complex-dropdown
        .complex-dropdown__left
            +dropdown(dropdownTest)
        .complex-dropdown__center
            +date-dropdown()
        .complex-dropdown__right
            +dropdown(dropdownTypeTrevel)
