.header {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    background-color: #FFD241;
    padding-right: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}