mixin header-travel()
    header.header-travel
        .header-travel__menu-btn
            +menu-btn('menu-btn--white')
        .header-travel__btn
            +submit-btn(submitBtn)
        .header-travel__dropdown
            +complex-dropdown
        p.header-travel__text У нас много невероятных путешествий по всей планете. И есть одно, которое изменит вас!